{
  "pkgRoot": "dist",
  "branches": [
    {
      "name": "feat/cd",
      "channel": "latest"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}
